.multi_card_score_rank {
  display: flex;
  font-size: medium;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &_left {
    display: flex;
    flex: 1;
    font-size: medium;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &_right {
    display: flex;
    flex: 2;
    font-size: medium;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.trophy_area{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.trophy_icon {
  font-size: 12px;
  margin-right: 2px;

  &_bronze {
    @extend .trophy_icon;
    filter: hue-rotate(320deg) brightness(1.1) saturate(0.9);
    color: #ffae70;
  }

  &_silver {
    @extend .trophy_icon;
    filter: hue-rotate(150deg) brightness(1.5) saturate(0.2);
    color: #c0c0c0;
  }

  &_gold {
    @extend .trophy_icon;
    filter: hue-rotate(350deg) brightness(1.8) saturate(0.7);
    color: #ffd700;
  }

  &_diamond {
    @extend .trophy_icon;
    filter: hue-rotate(150deg) brightness(1.9);

    animation: rainbow_trophy 0.7s 0s infinite alternate linear;

    @keyframes rainbow_trophy {
      0% {
        filter: hue-rotate(150deg) brightness(2.9) saturate(0.8);
        color: #00eeff;
      }
      20% {
        filter: hue-rotate(100deg) brightness(2.5) saturate(0.9);
        color: #93ff87;
      }

      40% {
        filter: hue-rotate(150deg) brightness(3) saturate(0);
        color: #d7fffe;
      }

      60% {
        filter: hue-rotate(270deg) brightness(1.9);
        color: #ff94ef;
      }

      80% {
        filter: hue-rotate(320deg) brightness(2.7) saturate(0.2);
        color: #00eeff;
      }

      100% {
        filter: hue-rotate(150deg) brightness(3.6)  saturate(0.8);
        color: #00eeff;
      }
    }
  }
}

.trophy_number {
  color: white;
  font-size: large;

& label:nth-child(1){
  font-size: small;
  margin-right: 2px;
}
}
