.scoreboard {
  &_view {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: #3f6cf3;

    position: absolute;
    top: 0;
    overflow: auto;
    padding-top: 64px;
    padding-bottom: 64px;

    box-sizing: border-box;
  }

  &_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #06043548;
    color: white;
    padding: 4px 8px;
    margin-bottom: 8px;
    width: 98%;
    max-width: 640px;
    border-radius: 6px;
    border: none;
    box-shadow: 2px 2px black;

    & label {
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: translateY(4px);
      box-shadow: none;
    }
  }

  &_title {
    display: flex;
    margin-left: 16px;
    font-size: medium;
    letter-spacing: 1px;
  }
}

.scoreboard_score {
  font-size: small;
  color: white;

  &_bronze {
    color: #ffae70;
  }

  &_silver {
    color: #c0c0c0;
  }

  &_gold {
    color: #ffd700;
  }

  &_diamond {
    color: #00eeff;

    animation: rainbow 0.6s 0s infinite alternate linear;

    @keyframes rainbow {
      0% {
        color: #00eeff;
      }
      20% {
        color: #93ff87;
      }

      40% {
        color: #d7fffe;
      }

      60% {
        color: #ff94ef;
      }

      80% {
        color: #00eeff;
      }

      100% {
        color: #00eeff;
      }
    }
  }
}

.scoreboard_score_trophy {
  font-size: 24px;
  margin-right: 12px;

  &_bronze {
    @extend .scoreboard_score_trophy;
    filter: hue-rotate(320deg) brightness(1.1) saturate(0.9);
    color: #ffae70;
  }

  &_silver {
    @extend .scoreboard_score_trophy;
    filter: hue-rotate(150deg) brightness(1.5) saturate(0.2);
    color: #c0c0c0;
  }

  &_gold {
    @extend .scoreboard_score_trophy;
    filter: hue-rotate(350deg) brightness(1.8) saturate(0.7);
    color: #ffd700;
  }

  &_diamond {
    @extend .scoreboard_score_trophy;
    filter: hue-rotate(150deg) brightness(1.9);
    color: #00eeff;

    animation: rainbow 0.6s 0s infinite alternate linear;

    @keyframes rainbow {
      0% {
        color: #00eeff;
      }
      20% {
        color: #93ff87;
      }

      40% {
        color: #d7fffe;
      }

      60% {
        color: #ff94ef;
      }

      80% {
        color: #00eeff;
      }

      100% {
        color: #00eeff;
      }
    }
  }
}

.scoreboard_score_label {
  margin-left: 12px;
  font-size: smaller;
}

.reset_button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  border-radius: 8px;
  letter-spacing: 1px;
  width: 200px;
  height: 5vh;
  min-height: 36px;
  max-width: 80%;
  max-height: 48px;
}