.App {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  background: white;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  color: black;
  font-size: 24px;
  inset-inline-end: 0;
  inset-inline-start: 0;

}

.top_bar{
  display: flex;
  position: absolute;
  width: 100vw;
  height: 42px;
  background: grey;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  z-index: 10;
  color: white;
  letter-spacing: 1px;
}

.header{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.clipboard_button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  min-height: 42px;

  &:hover{
    cursor: pointer;
  }

  &:active{
    transform: translateY(6px);
    background: aqua;
    color: white;
  }
}

.body{
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.footer{
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.pageButtons{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 96px;
  font-size: 36px;

  &:hover{
    cursor: pointer;
  }

  &:active{
    transform: translateY(6px);
  }
}

