.app_header {
  display: flex;
  flex: 1;
  width: 100vw;
  min-height: 54px;
  max-height: 54px;
  background: rgb(18, 23, 57);
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  color: white;
  letter-spacing: 1px;
  font-size: medium;
}


.app_header_button{
    display: flex;
    height: 48px;
    width: 90px;
    align-items: center;
    justify-content: center;
    background: #4a4e5c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: small;
    letter-spacing: 1px;
    padding: 4px 8px;
    flex-direction: column;

    &:hover{
        cursor: pointer;
    }


    &:active{
        transform: translateY(4px);
    }

    
}

.app_header_icon{
    font-size: medium;
}